* {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.formContainer {
    background: rgb(241, 241, 241);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper {
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo {
            font-weight: bold;
            width: 250px;
            height: 100px;
        }

        .title {
            font-size: 14px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: 1px solid #bebebe;

                &::placeholder {
                    color: rgb(175, 175, 175);
                }
            }

            button {
                background-color: #F20050;
                color: white;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
                border: none;
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                font-size: 14px;
                border: 1px solid #bebebe;
                padding: 20px;

                img {
                    width: 35px;
                    height: 35px;
                }
            }
        }

        p {
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

.home {
    background: rgb(255, 235, 237);

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        .sidebar {
            flex: 1;
            background-color: #ec8086;


            .navbar {
                display: flex;
                align-items: center;
                background-color: #FF3D5C;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: rgb(255, 222, 222);

                box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

                .logo {
                    width: 125px;
                    height: 40px;
                }

                .user {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    img {
                        background-color: white;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button {
                        background-color: #e14363;
                        height: 32px;
                        width: 70px;
                        color: white;
                        font-size: 12px;
                        border: none;
                        cursor: pointer;
                        border-radius: 25px;
                    }
                }
            }

            .search {
                border-bottom: 1px solid #ec8086;

                .searchForm {
                    padding: 10px;

                    input {
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;
                        font-size: 14px;

                        &::placeholder {
                            color: white;
                            font-size: 14px;

                        }
                    }
                }
            }

            .userChat {
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: rgb(255, 222, 222);
                cursor: pointer;

                &:hover {
                    background-color: #ec8e93;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userChatInfo {
                    span {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    p {
                        font-size: 14px;
                        color: rgb(242, 229, 229);
                    }
                }
            }

        }

        .chat {
            flex: 2;

            .chatInfo {
                height: 50px;
                background-color: #FF3D5C;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: white;
            }

            .chatIcons {
                display: flex;
                gap: 10px;

                img {
                    height: 24px;
                    cursor: pointer;
                }
            }

            .messages {
                background-color: #f1c9cb;
                padding: 10px;
                height: calc(100% - 160px);
                overflow: scroll;


                .message {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo {
                        display: flex;
                        flex-direction: column;
                        font-size: 11px;
                        color: rgb(181, 119, 119);
                        font-weight: 300;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    .messageContent {
                        min-width: 80%;

                        img {
                            width: 50%;
                        }
                    }
                }
            }

            .input {
                height: 50px;
                background-color: white;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    color: #2f2d52;
                    font-size: 18px;

                    &::placeholder {
                        color: lightgray;
                    }
                }

                .send {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        height: 24px;
                        cursor: pointer;
                    }

                    button {
                        border: none;
                        padding: 10px;
                        color: white;
                        background-color: #FF3D5C;
                        cursor: pointer;
                        border-radius: 25px;
                        width: 60px;
                    }
                }
            }
        }

    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(120, 44, 44, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(217, 154, 154, 0.8);
    -webkit-box-shadow: inset 0 0 2px rgba(120, 44, 44, 0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(217, 154, 154, 0.8);
}